.btn{
    align-items: center;
    background-color: blue;
    border-radius: 4px;
    color: yellow;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    line-height: 26px;
    padding: 7px 20px;

}