.containerDetail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    border: solid 5px blue;
    border-radius: 4px;
    padding: 0.5rem;
    margin: 1rem;
  }
  
  .imageContainer {
    margin-right: 20px;
  }
  
  .detailsContainer {
    width: 70%;
  }

  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --dim: 5rem;
    width: var(--dim);
    height: var(--dim);
    border: 7px solid #2596be;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: spin_51 1.5s infinite linear;
  }
  
  @keyframes spin_51 {
    from {
      transform: rotate(0)
    }
  
    to {
      transform: rotate(360deg)
    }
  }

 